.success {
  color: rgb(0, 82, 15);
  background: rgb(177, 255, 186);
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: rgb(92, 0, 0);
  background: rgb(255, 148, 148);
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}